* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2rem;
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 1000;
}

header h2 {
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 600;
    transition: all .3s ease;
}

header nav {
    gap: 1rem;
    display: flex;
}

.btn-scroll-page {
    border: none;
    background-color: transparent;
    font-weight: 500;
    opacity: 100;
    position: relative;
    cursor: pointer;
}

.login-btn {
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: .5rem 2rem;
    border-radius: 10px;
    transition: none;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
}

.login-btn:hover {
    background-color: rgba(128, 128, 128, 0.199);
}

.btn-scroll-page::after {
    content: "";
    display: block;
    top: 80%;
    left: 0;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: black;
    transform: scaleX(0);
    transition: all .3s ease;
}

.btn-scroll-page:hover::after {
    transform: scaleX(1);
}

.principal {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 0 2rem;
    background: url(fondo2.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: BlurIn 1s ease;
}

@keyframes BlurIn {
    from { filter: blur(10px); transform: translate(0, 20px); }
}

.principal h1 {
    font-size: 50px;
    font-weight: 500;
    line-height: 55px;
    letter-spacing: 5px;
}

.principal button {
    border: none;
    background-color: #2563EB;
    color: white;
    padding: 1rem;
    width: 40%;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .3s ease;
}

.principal button:hover {
    transform: scale(.97);
}

.principal button:active {
    transform: scale(0.9);
}

.travels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    align-items: center;
}

.travels h2 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .1rem;
}

.travels-row {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    flex-wrap: wrap;
    max-width: 80%;
}

.btn-scroll-page {
    animation: downUp 1s ease;
}

.btn-scroll-page:nth-child(2) {
    animation-delay: 200ms; 
}

@keyframes downUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.travel-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    align-items: flex-start;
    width: 250px;
    transition: all .3s ease;
    cursor: pointer;
}

.travel-card:hover {
    transform: translateY(-10px);
}

.travel-card div:nth-child(1) {
    width: 250px;
    height: 200px; 
}

.travel-card div img {
    width: 100%;
    height: 100%;     
    object-fit: cover;
    border-radius: 10px; 
}

.travel-card div:nth-child(2){
    padding: 2rem 0;
    margin-left: 1rem
}

.travel-card div h3 {
    font-weight: 600;
    opacity: 50;
    font-size: 20px;
    margin-bottom: .5rem;
}

.travel-card div p {
    opacity: 0.8;
}

